.timer-input-wrapper {
  margin-bottom: 32px;
}

.timer-input {
  width: 272px;
}

.timer {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.timer .field {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: #2e2f42;
  text-align: center;
}

.timer .value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.timer .label {
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}
